<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome - Varsity Media</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="css/app.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
	<script src="js/lib/jquery-1.8.2.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>

</head>
<body>

<!-- Start Header/Navbar  -->
<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Varsity Media</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Varsity Media</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">View Videos</a></li>
            <li><a href="#about">Reports</a></li>
            <li><a href="#contact">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>
<!-- End Header/Navbar  -->

<!-- Start Main Content  -->
<div class="container">

<!-- Start Left Sidebar  -->
<div class="row">
	<div class="col-md-3">
		<div class="sidebar-nav">
			<div class="base">
	<ul class="nav nav-list">
	<div class="row">&nbsp;</div>
	<li><div class="control-group">
					<label class="control-label">Yard Line</label>
					<div class="controls">
						<select>
							<option value="1">Line 1</option>
							<option value="2">Line 2</option>
							<option value="3">Line 3</option>
						</select>
					</div>
				</div>
			</li>
	<div class="row">&nbsp;</div>
	<li><div class="control-group">
				<label class="control-label">Points</label>
				<div class="controls">
					<select>
						<option value="1">Points 1</option>
						<option value="2">Points 2</option>
						<option value="3">Points 3</option>
					</select>
				</div>
			</div>

		</li>
	<div class="row">&nbsp;</div>
	<li><div class="control-group">
			<label class="control-label">Carrier</label>
			<div class="controls">
				<select>
					<option value="1">Carrier 1</option>
					<option value="2">Carrier 2</option>
					<option value="3">Carrier 3</option>
				</select>
			</div>
		</div>

	</li>
	<div class="row">&nbsp;</div>
  	<button id="btnLabel" class="btn btn-primary">
  		Add new Label</button>
  	<div class="row">&nbsp;</div>
  	<button id="btnCategory" class="btn btn-primary">
  		Add new Category</button>
	<div class="row">&nbsp;</div>
</ul>
</div>
</div>
</div>

<!-- End Left Sidebar  -->

<!-- Start Right Section  -->

<div class="col-md-9">
	<ul class="thumbnails">
		<li class="span9">
			<div class="thumbnail">
				<div class="caption">
					<h2>Game Video1</h2>
					<iframe width="620" height="400" src="http://www.youtube.com/embed/XMMmlS2yq8M"></iframe>
					<iframe src="https://app.box.com/embed_widget/k3nrn0v54gck/s/tefhyok77ub5c6k2qfi4?view=list&sort=name&direction=ASC&theme=blue" width="500" height="400" frameborder="0"></iframe>
					<iframe width="620" height="400" src="https://app.box.com/s/tefhyok77ub5c6k2qfi4"></iframe>
				</div>
			</div>

		</li>
	</ul>
	<div class="span9">
		<p><button type="submit" class="btn btn-small btn-blue" data-original-title="">Previous</button></p>
		<p><button type="submit" class="btn btn-small btn-blue" data-original-title=""
			onclick="location.href='home2.html'">Next</button></p>
		</div>
	</div>
</div>
<!-- End Right Section  -->

</div> <!-- End Main Content -->

<!-- Mod -->
<div class="modal fade" id="labelModal" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add new Label</h4>
      </div>
      <div class="modal-body">
        <form>Label Name : <input id="txtModalLabel" type="text" 
        	class="form-control"></form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="btnSaveLabel" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="categoryModal" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add new Category</h4>
      </div>
      <div class="modal-body">
        <form>Category Name : <input id="txtModalCategory" type="text" 
        	class="form-control"><form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="btnSaveCategory" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Start Footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="span6"><p><strong>&copy; Varsity Media</strong></p></div>
		</div>

	</div>

</footer>
<!-- End Footer -->

<script src="lib/home.js"></script>
</body>
</html>
