.zeroMargin{margin: 0 !important}
.zeroPadding{padding: 0 !important; border: 0}
.actionButtons{margin-top: 10px} 
#test .actionButtons{margin-top: 10px; clear: both; overflow: hidden; margin-left: 15px;float: left}
.mLeft{margin-left: 10px}
.footer{margin-top: 30px; text-align: center}
.labelPopup{padding: 0 0 10px 14px; text-align: left !important}
.navbar-brand{font-family: trebuchet MS; font-weight: bold; font-size: 27px;}


#heroCarouselContainer.wrapper {
				width: 700px;
			}
			#heroCarouselContainer.list_carousel {
				width: 700px;
			}
			#heroCarouselContainer.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			#heroCarouselContainer.list_carousel ul li {
				width: 700px;
				height: 450px;
				padding: 0;
				display: block;
				float: left;
			}
			#heroCarouselContainer.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			#heroCarouselContainer .clearfix {
				float: none;
				clear: both;
			}
			#heroCarouselContainer .prev {
				float: left;
				margin-left: 10px;
			}
			#heroCarouselContainer .next {
				float: right;
				margin-right: 10px;
			}
			
#searchVideo .actionButtons{clear: both; float:left; overflow: hidden;margin-left: 45%;}
#searchResults li{float: left; border: 1px solid #ccc;margin-left: 10px; margin-bottom: 5px; padding: 0}
#searchResults li video{padding: 5px;float: left}
#searchResults{padding: 0; margin: 0;}
#searchResults .col-md-3{width: 24%} 
#searchResults li p{padding: 5px 0px 0 0px; margin: 0; text-align: center}
.pagination{margin: 0 0px 10px 0}
.bigBtn{width: 80%;margin-left: 10%; margin-top: 20px;}
.icon-fast-backward{display: none;}
.icon-fast-forward{display: none;}
.form-horizontal .form-group{margin-left: 0; margin-top: 0}
#login label{width: 120px; font-size: 18px; font-weight: normal; font-family: arial;}
#login{padding: 40px 0 30px 85px}
#login .actionButtons{margin: 25px 0 0px 95px;}
#login .alert{width: 200px;padding-left: 25px; margin-left: 30px}
.tooltip{opacity: 1; float: right; display: none; position: relative; left: -25px;}